
ol{  
    border: 3px dashed;

    background-color: rgb(255, 255, 255);
    
}

li  {border: 3px solid ;
    color: brown;
    /* list-style-position: inside;  */

    background-color: bisque;
}
body{
    text-align: center;
  


}