body{
    background-image: url("https://pro2-bar-s3-cdn-cf.myportfolio.com/eb5d7870-77fd-45fe-b452-9ca4f3e4e9e2/bbb3d649-950a-4590-9827-7150668a8f85_car_1x1.gif?h=5f98e7abcf7dd78aeda81994d35c51a4");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}